body {
    background-color: #ccc;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    background-color: #000000cc;
    box-shadow: 0px 4px 9px #0b77a1;
}

.wrapper-nav-home ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
}

.wrapper-nav-home ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

